<!doctype html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Page title -->
    <title>Stateless authentication sample</title>

    <link rel="stylesheet" th:href="@{/css/normalize.css}" href="/css/normalize.css"/>
    <link rel="stylesheet" th:href="@{/css/skeleton.css}" href="/css/skeleton.css"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}" href="/css/footer.css"/>
</head>
<body>
<div class="container">

    <div class="row">
        <div class="twelve column">
            <h1>Login</h1>
        </div>
    </div>

    <div class="row">
        <form th:action="@{/login.html}" method="post" action="#" id="loginForm">
            <div class="form-group">
                <label class="control-label" for="username">Username</label>
                <input type="text" placeholder="username" title="Please enter you username" required="" value=""
                       name="username" id="username" class="form-control"/>
                <span class="help-block small">Your unique username to app</span>
            </div>
            <div class="form-group">
                <label class="control-label" for="password">Password</label>
                <input type="password" title="Please enter your password" placeholder="******" required="" value=""
                       name="password" id="password" class="form-control"/>
                <span class="help-block small">Yur strong password</span>
            </div>
            <div class="form-group" th:if="${param.error}">
                <div style="color: #ff583b">Your username or password is wrong</div>
            </div>
            <div class="form-group">
                <button style="margin-top: 8px" class="btn btn-success btn-block" type="submit">Login</button>
            </div>
        </form>
    </div>
</div>

<div class="container">
    <h6>made by Daniel Wasilew &lt;daniel@dedicatedcode.com&gt;</h6>
</div>
</body>
</html>