<!doctype html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Page title -->
    <title>Stateless authentication sample</title>

    <link rel="stylesheet" th:href="@{/css/normalize.css}" href="/css/normalize.css"/>
    <link rel="stylesheet" th:href="@{/css/skeleton.css}" href="/css/skeleton.css"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}" href="/css/footer.css"/>
</head>
<body>
<div class="container">

    <!-- columns should be the immediate child of a .row -->
    <div class="row">
        <div class="four columns">
            <h1>Todos</h1>
        </div>
        <div class="eight columns">
            <div class="u-pull-right">
                <form th:action="@{/logout}" method="post">
                    <button class="button button-primary" type="submit">Logout</button>
                </form>
            </div>
        </div>
    </div>

    <!-- just use a number and class 'column' or 'columns' -->
    <div class="row">
        <div class="row">
            <div style="font-weight: 500">It worked! The saved request cookie should redirect us to this page</div>
        </div>
        <div class="row">
            <a class="button button-primary" href="/">Go back to main page</a>
        </div>
    </div>
</div>

<div class="container">
    <h6>made by Daniel Wasilew &lt;daniel@dedicatedcode.com&gt;</h6>
</div>
</body>
</html>